<!-- <form [formGroup]="validations_form" (ngSubmit)="login(validations_form.value)">
  <div class="form">
    <input
      type="email"
      placeholder="email"
      formControlName="email"
      class="form-control"
    />
    <input
    type="password"
    placeholder="password"
    formControlName="password"
    class="form-control"
    />
    <button type="submit">Enter</button>
  </div>
</form> -->

<!-- <span *ngIf="email.invalid && email.touched">Field isn't Here</span> -->
<!-- <span *ngIf="!form.get('password').valid && form.get('password').touched" class="help-block"> Please enter a valid name! </span> -->
<!-- <button type="submit"
          [disabled]="form.invalid">Enter</button> -->
