<div class="container">
  <div class="img-container">
    <h1 class="heading">Find a job fit for you</h1>
  </div>
  <main>
    <div class="block">
      <img
        src="../../../assets/SVG/alerts.svg"
        height="200px"
        width="200px"
        alt=""
      />
      <h2 class="icon_header">Job Alerts</h2>
    </div>
    <div class="block">
      <img src="../../../assets/SVG/bulb.svg" height="200px" width="200px" />
      <h2 class="icon_header">Professional Advice</h2>
    </div>
    <div class="block">
      <img src="../../../assets/SVG/doc.svg" height="200px" width="200px" />
      <h2 class="icon_header">Application Support</h2>
    </div>
  </main>
</div>
