input[type=range] {
  height: 10px;
  width: 50%;
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0 none;
  background-color: #A29BFE;
  -webkit-appearance: none;
  transform: translate(10px, -3px);
}

.single-slider {
  position: relative;
}

.slider_fill {
  height: 3px;
  // width: 50%;
  background-color: #6C5CE7;
  width: 0;
  // z-index: 20;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.slider_bg {
  height: 3px;
  width: 50%;
  // background-color: #FAD390;
  background-color: #A29BFE;

  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
