<div class="dual-slider-container">
  <div class="multi-range-slider">
    <input
      #min
      (input)="inputChangeMin($event)"
      type="range"
      name=""
      id="input-left"
      min="0"
      max="99"
      value="25"
    />
    <input
      #max
      (input)="inputChangeMax($event)"
      type="range"
      name=""
      id="input-right"
      min="1"
      max="100"
      value="75"
    />

    <!-- (mousedown)="bounce($event)" -->
    <!-- [(ngModel)]="maximum" -->

    <div class="slider">
      <div class="track"></div>
      <div #range class="range"></div>
      <div #minSlider class="thumb left"></div>

      <div #maxSlider (mouseup)="bounced($event)" class="thumb right"></div>
    </div>
  </div>

  <div class="text-output-container">
    <div class="text_container">
      <span>$</span>
      <input
        type="number"
        name=""
        id=""
        #minText
        min="0"
        max="99"
        (input)="changeTextMin($event)"
      />
    </div>
    <div class="text_container">
      <span>$$</span>
      <input
        type="number"
        name=""
        id=""
        #maxText
        min="1"
        max="100"
        (input)="changeTextMax($event)"
      />
    </div>
  </div>
  <ng-content></ng-content>
</div>

<!-- <div slider class="slider-distance">
  <div>
    <div inverse-left style="width: 70%"></div>
    <div inverse-right style="width: 70%"></div>
    <div range style="left: 30%; right: 40%"></div>
    <span thumb style="left: 30%"></span>
    <span thumb style="left: 60%"></span>
    <div sign style="left: 30%">
      <span id="value">30</span>
    </div>
    <div sign style="left: 60%">
      <span id="value">60</span>
    </div>
  </div>
  <input
    (change)="inputMin($event)"
    class="input-range min"
    #min
    type="range"
    tabindex="0"
    value="30"
    max="100"
    min="0"
    step="1"
  />

  <input
    (change)="inputMax($event)"
    #max
    class="input-range max"
    type="range"
    tabindex="0"
    value="60"
    max="100"
    min="0"
    step="1"
  />
</div> -->
