<div class="container">
  <h1>Welcome <span>User</span></h1>
  <div class="latest-jobs">
    <div class="latest-card">
      <h3>48</h3>
      <h4>London Jobs</h4>
      <span>
        <h5>applied</h5>
        <h4>50%</h4>
      </span>
      <div class="progress-bar"></div>
    </div>
    <div class="latest-card">
      <h3>48</h3>
      <h4>London Jobs</h4>
      <h5>applied</h5>
      <h4>50%</h4>
      <div class="progress-bar"></div>
    </div>
    <div class="latest-card">
      <h3>48</h3>
      <h4>London Jobs</h4>
      <h5>applied</h5>
      <h4>50%</h4>
      <div class="progress-bar"></div>
    </div>
    <div class="latest-card">
      <h3>48</h3>
      <h4>London Jobs</h4>
      <h5>applied</h5>
      <h4>50%</h4>
      <div class="progress-bar"></div>
    </div>
  </div>
  <div class="message-wrapper">
    <h3>Messages</h3>
    <div class="message-container">
      <h3>122</h3>
      <h4>New messages</h4>
      <img src="../../../assets/SVG/white-speech-bubble.svg" alt="" srcset="" />
    </div>
  </div>
  <div class="saved_job_table">
    <table>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>Job Title</td>
        <td>Company</td>
        <td><span class="expiring">Expiring</span></td>
        <td>Delete</td>
      </tr>
      <tr>
        <td>Job Title</td>
        <td>Company</td>
        <td><span class="expired">Expired</span></td>
        <td>Delete</td>
      </tr>
      <tr>
        <td>Job Title</td>
        <td>Company</td>
        <td><span class="declined">Declined</span></td>
        <td>Delete</td>
      </tr>
      <tr>
        <td>Job Title</td>
        <td>Company</td>
        <td><span class="updated">Updated</span></td>
        <td>Delete</td>
      </tr>
    </table>
  </div>
  <!-- <div class="job-cards">
    <div class="job-card">
      <h1>48</h1>
      <h2>Job Locale</h2>
      <h3>Job Status</h3>
      <div class="job-progress"></div>
    </div>
    <div class="job-card">
      <h1></h1>
    </div>
    <div class="job-card"></div>
    <div class="job-card"></div>
  </div> -->
  <!-- <app-applied-jobs></app-applied-jobs> -->
  <!-- <div class="saved_job_container">
    <div class="saved_jobs">
      <h1>8</h1>
      <h2>Jobs Saved</h2>
    </div>
    <div class="cards-container">
      <h2>Previously Saved</h2>
      <div class="saved_cards">
        <div class="job-card">
          <h2>Job Title</h2>
          <h3>City</h3>
          <p>Recently Added</p>
          <a>More</a>
          <button class="apply">Apply</button>
        </div>
        <div class="job-card">
          <h2>Job Title</h2>
          <h3>City</h3>
          <p>Recently Added</p>
          <a>More</a>
          <button class="apply">Apply</button>
        </div>
        <div class="job-card">
          <h2>Job Title</h2>
          <h3>City</h3>
          <p>Recently Added</p>
          <a>More</a>
          <button class="apply">Apply</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="uploaded_jobs_container">
    <div class="uploaded_jobs">
      <h1>2</h1>
      <h2>Uploaded Jobs</h2>
    </div>
    <div class="cards-container">
      <div class="saved_cards">
        <div class="job-card">
          <h2>Job Title</h2>
          <h3>City</h3>
          <p>Recently Added</p>

          <button class="edit">Edit</button>
          <button class="delete">Remove</button>
        </div>
        <div class="job-card">
          <h2>Job Title</h2>
          <h3>City</h3>
          <p>Recently Added</p>

          <button class="edit">Edit</button>
          <button class="delete">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div class="recently_added_container">
    <div class="recently_added_jobs">
      <h1>31</h1>
      <h2>New Jobs from last search</h2>
    </div>
    <div class="cards-container">
      <h2>You may be interested in</h2>
      <div class="saved_cards">
        <div class="job-card">
          <h2>Job Title</h2>
          <h3>City</h3>
          <p>Recently Added</p>
          <a>More</a>
          <button class="apply">Apply</button>
        </div>

        <div class="job-card">
          <h2>Job Title</h2>
          <h3>City</h3>
          <p>Recently Added</p>
          <a>More</a>
          <button class="apply">Apply</button>
        </div>

        <div class="job-card">
          <h2>Job Title</h2>
          <h3>City</h3>
          <p>Recently Added</p>
          <a>More</a>
          <button class="apply">Apply</button>
        </div>
      </div>
    </div>
  </div> -->
</div>
