<div class="cards-wrapper">
  <div class="cards-container">
    <div class="cards">
      <img src="../../../assets/undraw_reminders_re_gtyb.svg" />
      <h1>Job Alerts</h1>
      <h2>
        Get notified of all the latest jobs so you're the first through the door
      </h2>
    </div>
    <div class="cards">
      <img src="../../../assets/undraw_resume_re_hkth.svg" />
      <h1>Resume Support</h1>
      <h2>
        Finding it difficult to compose your applications? We provide support to
        make you thrive
      </h2>
    </div>
    <div class="cards">
      <img src="../../../assets/undraw_team_chat_re_vbq1.svg" />
      <h1>Professional Advice</h1>
      <h2>Get in touch for advice on roles you didn't know were available</h2>
    </div>
  </div>
</div>
