:host {
  width:100%;
}
.dual-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    margin-bottom: 1em;
  }
}

.multi-range-slider {
  position: relative;
  width: 50%;
  max-width: 500px;
  // height: 100px;
  padding: 2em 0px;
  // padding: 0 10%;
  // background-color: violet;


}

.slider {
  position: relative;
  z-index: 1;
  height: 3px;
  margin: 0 15px;
  background-color: whitesmoke;
}

.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #6C5CE7;
}

.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #6C5CE7;

}

.slider > .thumb {
  position: absolute;
  z-index:3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  // opacity: .4;
  background-color: #A29BFE;
  // background-color: rebeccapurple;
  box-shadow: 0 0 0 0 rgba(98,0,238,.1);
}

.slider > .thumb.left {
  left: 25%;
  transform: translate(-10px, -9px);

}

.slider > .thumb.right {
  right: 25%;
  transform: translate(10px, -9px);
}

input[type=number]  {
}

input[type=range] {
  position: absolute;
  pointer-events: none;
  appearance: none;
  z-index: 2;
  width: 100%;
  height: 3px;
  // top: -50px;
  opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: 0 none;
  background-color: #A29BFE;
  -webkit-appearance: none;
}

.text_container {

  // background-color: #0C2461;
  border: 1px solid #DDDFE5;
  border-radius: 1em;
  height: 5em;
  width: 100%;
  color: #57606F;
  font-family: var(--header-font);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  // float: left;
  // margin-right: 1em;
}

input[type=number] {

  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 70%;
  /* padding: 0 28%; */
  background: none;
  color: #57606F;
  border: 0;
  font-size: inherit;
}



span {
  font-size:inherit;
}

// .dual-slider-container {
//   width: 100;
// }

.text-output-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  // margin: 0 0.5em;
  // padding: 0 .2em;

}

button {
  background-color: #0AA3F5;
  color: white;
  font-family: var(--text-font);
  border: 0;
  font-size: 1.2em;
  padding: 0.8em 1em;
}
@media (min-width: 760px) {
 .dual-slider-container {
    flex-direction: column;

   .text-output-container {
     flex-direction: row;
     width: 100%;
     justify-content: space-around;

     .text_container {
       width: 43%;
      }
    }
  }
.multi-range-slider {
  width: 100%;
}
}
// #input-left {
//   top: -100px;
// }

// #input-right {
//   top: -50px;
// }
// .slider-distance {
//   position: relative;
//   height: 14px;
//   border-radius: 10px;
//   text-align: left;
//   margin: 45px 0 10px 0;
// }

// .slider-distance > div {
//   position: absolute;
//   left: 13px;
//   right: 55px;
//   height: 14px;
// }

// .slider-distance > div > [inverse-left] {
//   position: absolute;
//   left: 0;
//   height: 14px;
//   border-radius: 10px;
//   background-color: #CCC;
//   margin: 0 7px;
// }

// .slider-distance > div > [inverse-right] {
//   position: absolute;
//   right: 0;
//   height: 14px;
//   border-radius: 10px;
//   background-color: #CCC;
//   margin: 0 7px;
// }

// .slider-distance > div > [range] {
//   position: absolute;
//   left: 0;
//   height: 14px;
//   border-radius: 14px;
//   background-color: #1ABC9C;
// }

// .slider-distance > div > [thumb] {
//   position: absolute;
//   top: -7px;
//   z-index: 2;
//   height: 28px;
//   width: 28px;
//   text-align: left;
//   margin-left: -11px;
//   cursor: pointer;
//   box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
//   background-color: #FFF;
//   border-radius: 50%;
//   outline: none;
// }
// .slider-distance> input[type=range]::-ms-thumb {
//   pointer-events: all;
//   width: 28px;
//   height: 28px;
//   border-radius: 0px;
//   border: 0 none;
//   background: red;
// }

// .slider-distance > input[type=range]::-moz-range-thumb {
//   pointer-events: all;
//   width: 28px;
//   height: 28px;
//   border-radius: 0px;
//   border: 0 none;
//   background: red;
// }

// .slider-distance > input[type=range]::-webkit-slider-thumb {
//   pointer-events: all;
//   width: 28px;
//   height: 28px;
//   border-radius: 0px;
//   border: 0 none;
//   background: red;
//   -webkit-appearance: none;
// }

// .slider-distance > input[type=range]::-ms-fill-lower {
//   background: transparent;
//   border: 0 none;
// }

// .slider-distance > input[type=range]::-ms-fill-upper {
//   background: transparent;
//   border: 0 none;
// }

// .slider-distance > input[type=range] {
//   position: absolute;
//   pointer-events: none;
//   -webkit-appearance: none;
//   z-index: 3;
//   height: 14px;
//   top: -2px;
//   width: 100%;
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//   filter: alpha(opacity=0);
//   -moz-opacity: 0;
//   -khtml-opacity: 0;
//   opacity: 0;
// }

// .slider-distance > input[type=range]::-ms-track {
//   -webkit-appearance: none;
//   background: transparent;
//   color: transparent;
// }

// .slider-distance > input[type=range]::-moz-range-track {
//   -moz-appearance: none;
//   background: transparent;
//   color: transparent;
// }

// .slider-distance > input[type=range]:focus::-webkit-slider-runnable-track {
//   background: transparent;
//   border: transparent;
// }

// .slider-distance > input[type=range]:focus {
//   outline: none;
// }

// .slider-distance > input[type=range]::-ms-tooltip {
//   display: none;
// }

// .slider-distance > div > [sign] {
//   opacity: 0;
//   position: absolute;
//   margin-left: -11px;
//   top: -39px;
//   z-index:3;
//   background-color: #1ABC9C;
//   color: #fff;
//   width: 28px;
//   height: 28px;
//   border-radius: 28px;
//   -webkit-border-radius: 28px;
//   align-items: center;
// /*   -webkit-justify-content: center; */
// /*   justify-content: center; */
//   text-align: center;
// }

// .slider-distance > div > [sign]:after {
//   position: absolute;
//   content: '';
//   left: 0;
//   border-radius: 16px;
//   top: 19px;
//   border-left: 14px solid transparent;
//   border-right: 14px solid transparent;
//   border-top-width: 16px;
//   border-top-style: solid;
//   border-top-color: #1ABC9C;
// }

// .slider-distance > div > [sign] > span {
//   font-size: 12px;
//   font-weight: 700;
//   line-height: 28px;
// }

// .slider-distance:hover > div > [sign] {
//   opacity: 1;
// }
