:host {
}
.container {
  box-sizing: border-box;
  background-color: #F1F2F6;
  padding: 5%;
  margin-bottom: 2px;
  h1{
    font-size: 1em;
    margin: 0;
  }
  h2 {
    font-size: .8em;
    margin: 0;
  }
}

.router-link-active {
  border-left: solid 10px #38ADA9;
  transition: all 200ms ease-out;
  // background-color: blue;
}
