<!--
<form
  [@panelState]="isOpen ? 'open' : 'close'"
  novalidate
  (ngSubmit)="save()"
  [formGroup]="searchForm"
>
  <input
    class="form-control"
    id="jobTitle"
    type="text"
    placeholder="Job Title"
    formControlName="jobTitle"
    [@reducer]="isOpen ? 'open' : 'close'"
  />
  <input
    class="form-control"
    id="location"
    type="text"
    placeholder="Location"
    formControlName="location"
    [@reducer]="isOpen ? 'open' : 'close'"
  />
  <div class="input-wrapper">
    <label for="">
      <span></span>
    </label>
  </div>
  <div class="input-wrapper">

  </div>
</form> -->
