:host{
}

nav {
  // background-color: var(--header-colour);
  // background-color: #F5F6FA;
  display: flex;
  padding: 0 4%;
  height: 4em;
  align-items: center;
  h1{
    font-family: var(--header-font);
    color: #57606F;
    // margin: 0;
    font-size: 1.5em;
  }
  span {
    flex: 1 1 auto;
  }

  ul {
    list-style: none;
    display: flex;

    li{
      margin-left: 2em;
    }
  }
}

