:host {
}

.container {
  height: 20vh;
  padding: 0 10%;
  background-color: var(--secondary-colour);
  // width: 100%;
  padding: 0 10% 5% 10%;
  display: flex;
  flex-direction: column;;
}
// .container > * {
//   opacity: 0;
// }

h2 {
  font-family: var(--header-font);
  font-size: 2em;
}


@media (min-width: 600px)  {
  .container {
    flex-direction: row;
  }

  .container > div {
    margin: 0 1em;
    width: 33%;
  }
}
