<!-- <form novalidate (ngSubmit)="save()" [formGroup]="searchForm">
  <div class="search-container">
    <div class="search-bar">
      <input
        class="form-control effect-1"
        id="jobTitle"
        type="search"
        placeholder="Job Title..."
        formControlName="jobTitle"
      />
      <div class="vl"></div>

      <input
        class="form-control"
        id="location"
        type="search"
        placeholder="Location"
        formControlName="location"
      />
    </div>

    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      (click)="save()"
      >search</mat-icon
    >
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      (click)="openOptions()"
      >expand_more</mat-icon
    >
  </div>
</form> -->
<!-- <app-search-options *ngIf="toggleOpen" @toggleOpen></app-search-options> -->
