<!-- <p>job-form works!</p> -->

<!-- <form (ngSubmit)="save()" [formGroup]="editForm">
  <input type="text" formControlName="company_name" />
  <input type="text" formControlName="city" />
  <input type="text" formControlName="job_description" />
  <input type="text" formControlName="job_title" />
  <input type="text" formControlName="job_type" />
  <input type="text" formControlName="salary_offered" />

  <button class="submit" type="submit" [disabled]="!editForm.valid">
    Save
  </button>
  <button class="discard" type="button">Discard</button>
</form> -->
