// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&Cabin:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Manrope:wght@500&family=Quicksand:wght@400;700&family=Cabin:wght@700');

// @use '~@angular/material'as mat;
// @import '~@angular/cdk/overlay-prebuilt.css';
:root {
  // --header-font: 'Source Code Pro', monospace;
  --logo-font: 'Cabin', sans-serif;
  --header-font: 'Cormorant Garamond', serif;
  --header-colour: #0A3D62;
  --secondary-colour: #60A3BC;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  // --text-font: 'Cabin', sans-serif;
  --text-font: 'Quicksand', sans-serif;
  --number-font: 'Manrope';

}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}

.cdk-overlay-dark-backdrop {
  background: none;
}

body {
  // background-color: #0C1643;
  // font-family: url(--text-font);
  // font-family: url()
}

html {
  // font-family: 'Source Code Pro', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button {
  // font-family: 'Source Code Pro', monospace;
  font-family: var(--text-font);
  // font-family: var(--header-font);

}


// @include mat.core();


// $ng-frontend-primary: mat.define-palette(mat.$indigo-palette);
// $ng-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// $ng-frontend-warn: mat.define-palette(mat.$red-palette);

// $ng-frontend-theme: mat.define-light-theme((color: (primary: $ng-frontend-primary,
//       accent: $ng-frontend-accent,
//       warn: $ng-frontend-warn,
//     )));

// @include mat.all-component-themes($ng-frontend-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
